<!-- Generated template for the DetalhesUsuarioComponent component -->
<div>
      <img src="http://res.cloudinary.com/nogcloud/image/upload/v{{membro.versaoImagem}}/{{membro.idImagem}}.jpg">
      <p>Nome: {{membro.nome}}</p>
      <table>
            <tr>
                  <td>
                        <button  (click)="aceitarNegarAcesso('aceitar')">Aceitar Solicitação</button>                        
                  </td>
                  <td>
                        <button  (click)="aceitarNegarAcesso('negar')">Negar Solicitação</button>
                  </td>
            </tr>
            <tr>
                  <td>
                        <button  (click)="voltar()">Voltar</button>
                 </td>
            </tr> 
      </table>
      
      
      
</div>