page-adicionar-midia {
      ion-content {
            text-align: center;
      }
      .list {
            width: 100% !important;   
      }
      .foto {
            float: left;
            width: 100px !important;
            margin: 0 !important;
      }
      .imgBg{
            width:100px;
            height: 120px;
            text-align: right;
            font-size: 20px !important;
            margin: 4px;
            border-width: 2px;
            border-color: black;
            border-radius: 0;
      }
      .button {
            border-radius: 0;
      }
}
