
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="ios-menu"></ion-icon>
    </button>
    <ion-title>MILLY - {{nomeIgreja}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="irParaNotificacoes()" >
        <ion-icon name="ios-notifications-outline"></ion-icon>
        <ion-badge *ngIf="notificacoesNaoLidas > 0" color="color1">{{notificacoesNaoLidas}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-lg-3 *ngFor="let item of items" (click)="goTo('Details')">
        <div class="container">
          <img src="{{item.img}}"/>
          <div class="text">
              <h4>{{item.title}}</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam,quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo cillum
                dolore eu fugiat nulla pariatur.
              </p>
          </div>
          <div class="date">
            <p>
              09/08
              <span>2017</span>
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
