<!--
  Generated template for the CriarEventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Criar Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <ion-grid>
            <ion-row style="margin-bottom: 4px">
                  <ion-card><ion-card-content>
                        <ion-list radio-group class="radio-list">
                              <ion-list-header class="radio-label">Evento para</ion-list-header>
                              <ion-item class="radio-item">
                                    <ion-label>Todos</ion-label>
                                    <ion-radio (click)="selecionaEventoPara('todos')" checked="true"></ion-radio>
                              </ion-item>
                              <ion-item class="radio-item">
                                    <ion-label>Somente para diretoria</ion-label>
                                    <ion-radio (click)="selecionaEventoPara('diretoria')" value="para-diretoria"></ion-radio>
                              </ion-item>
                        </ion-list>
                  </ion-card-content></ion-card>
            </ion-row>
            <ion-row>
                  <ion-col style="height: 250px; padding:0">
                        <div class="imgBg"  [ngStyle]="{ 'background-image': 'url(' + cartaz + ')'}">
                                    <ion-icon name="ios-folder-open" (click)="abrirCartaz()"></ion-icon>
                                    <p>Adicionar Cartaz...</p>
                        </div>
                  </ion-col>
                  <ion-col style="height: 250px">
                        <!-- Colocar formulario aqui -->
                        <ion-row style="height: 50px">
                              <!-- Título -->
                              <ion-item class=item-left>
                                    <ion-input [(ngModel)]="titulo" placeholder="Título" type="text"></ion-input>
                              </ion-item>
                        </ion-row>
                        <ion-row style="height: 50px">
                              <ion-col col-7 style="padding-left:0">
                                    <ion-item class=item-left>
                                          <ion-input [(ngModel)]="dataMostra" placeholder="Data" class="data-font" readonly="true" type="text" (focus)="selecionaData()"></ion-input>
                                    </ion-item>
                              </ion-col>
                              <ion-col col-5 style="padding-left:0">
                                    <ion-item class=item-left>
                                          <ion-input [(ngModel)]="horaMostra" class="data-font" placeholder="Horário" readonly="true" type="text" (focus)="selecionaHora()"></ion-input>
                                    </ion-item>
                              </ion-col>
                        </ion-row>
                        <ion-row style="height: 150px">
                              <!-- Descricao -->
                              <ion-item class=item-left>
                                    <ion-textarea [(ngModel)]="descricao" placeholder="Descrição..." class="data-font"></ion-textarea>
                              </ion-item>
                        </ion-row>
                  </ion-col>
            </ion-row>
            <ion-row style="margin-top: 10px">
                  <ion-col class="col-botoes">
                        <ion-row>
                              <button class="btn-pequeno" ion-button round (click)="adicionarImagens()">Imagens<span class="contador" *ngIf="midias.length>0">({{midias.length}})</span></button>
                        </ion-row>
                        <ion-row>
                              <button class="btn-pequeno" ion-button round (click)="adicionarPagamento()">Pagamento<span class="contador" *ngIf="contas.length>0">({{contas.length}})</span> </button>
                        </ion-row>
                  </ion-col>
                  <ion-col>
                        <!-- <ion-row>
                              <button class="btn-pequeno" ion-button round (click)="adicionarLocalizacao()">Localização </button>
                        </ion-row> -->
                        <ion-row>
                              <button class="btn-pequeno" ion-button round (click)="marcarDepartamentos()">Departamentos<span class="contador" *ngIf="departamentos.length>0">({{departamentos.length}})</span></button>
                        </ion-row>
                        <ion-row>
                              <button class="btn-pequeno" ion-button round (click)="pedirDoacoes()">Pedir Doações <span class="contador" *ngIf="doacoes.length>0">({{doacoes.length}})</span> </button>
                        </ion-row>
                  </ion-col>
            </ion-row>
      </ion-grid>

      <button class="botao-grande" ion-button block (click)="criarEvento()"> CRIAR EVENTO</button>

</ion-content>
