
<ion-header>
  <ion-navbar>
    <ion-title>Suas Notificações</ion-title>
    <ion-buttons end>
      <button ion-button >
        <ion-icon name="ios-notifications-outline"></ion-icon>
        <ion-badge color="color1" *ngIf="numeroNotificacoes > 0">{{numeroNotificacoes}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content >
      <ion-list class="commentList">
            <ion-item *ngFor="let notificacao of notificacoes" (click)="clicaNotificacao(notificacao)" [ngClass]="classLido(notificacao.lida)">
                  <ion-avatar item-left *ngIf="notificacao.idImagem">
                              <img src="http://res.cloudinary.com/nogcloud/image/upload/v{{notificacao.versaoImagem}}/{{notificacao.idImagem}}">
                  </ion-avatar>
                  <h4>{{notificacao.autor}}</h4>
                  <p>{{notificacao.mensagem}}</p>
                  <p class="timeago">{{getTimeAgo(notificacao.createdAt)}}</p>
            </ion-item>
      </ion-list>

      <ion-fab right bottom>
            <button ion-fab (click)="lerTodas()">
                  <ion-icon name="md-checkmark-circle"></ion-icon>
            </button>
      </ion-fab>
      
</ion-content>
