
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="ios-menu"></ion-icon>
    </button>
    <ion-title>Suas Notificações</ion-title>
    <ion-buttons end>
      <button ion-button >
        <ion-icon name="ios-notifications-outline"></ion-icon>
        <ion-badge color="color1">{{numeroNotificacoes}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content >
  <ion-list class="commentList">
    <ion-item *ngFor="let notificacao of notificacoes" (click)="irPara(notificacao.componente)" [ngClass]="classLido(notificacao.lida)">
      <ion-avatar item-left *ngIf="notificacao.idImagem">
                  <img src="http://res.cloudinary.com/nogcloud/image/upload/v{{notificacao.versaoImagem}}/{{notificacao.idImagem}}">
      </ion-avatar>
      <h4>{{notificacao.autor}}</h4>
      <p>
        {{notificacao.mensagem}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
