page-notification {
    .commentList{
        p{
            @include whiteNormal(24px,2);
            color:color($colors,light);
            margin-top: 7px !important;
        }
        .item-ios{
            background-color: color($colors,color1);
            margin-bottom:1px !important;
            padding:0px $mainMarg;
        }
        .item-lido {
            background-color: #ecbd65 !important;
            margin-bottom:1px !important;
            padding:0px $mainMarg;
        }
    }
     
    .timeago {
          color: rgb(107, 105, 105) !important;
          font-weight: bold !important;
    }
      
}
