page-admin-membros {
    .item {
          white-space: nowrap;
          overflow-x: auto;
    }
    .innerDiv, button, h6 {
          display: inline-block;
    }
    .innerDiv {
      white-space: nowrap;
      overflow-x: auto;   
    }
    ion-avatar {
          display: inline-block;
    }

}
