<!--
  Generated template for the AdminMembrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{nomeIgreja}} - Membros</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
      <div>
            <p class="pendentes"> {{qtdPendentes}} solicitações de acesso pendentes.</p>
      </div>

      <div>
            <ion-list class="commentList">
                  <ion-item class="item-solicitacao" *ngFor="let solicitacao of membrosPendentes" >

                        <ion-grid>
                              <ion-row>
                                    <ion-col col-3 (click)="mostraDetalhes(solicitacao)">
                                          <ion-avatar item-left>
                                                <img src="http://res.cloudinary.com/nogcloud/image/upload/v{{solicitacao.versaoImagem}}/{{solicitacao.idImagem}}.jpg">
                                          </ion-avatar>
                                    </ion-col>
                                    <ion-col (click)="mostraDetalhes(solicitacao)">
                                          <ion-row class="row-2"><h4>{{solicitacao.nome}}</h4></ion-row>
                                          <ion-row class="row-2"><p>{{getTimeAgo(solicitacao.criadoEm)}}</p></ion-row>
                                    </ion-col>
                                    <ion-col col-2 class="col-button">
                                          <button ion-button class="botao-aceitar" (click)="aceitarNegarAcesso(solicitacao, 'aceitar')">
                                                Aceitar
                                          </button>
                                    </ion-col>
                                    <ion-col col-2  class="col-button" >
                                          <button ion-button class="botao-negar" (click)="aceitarNegarAcesso(solicitacao, 'negar')">
                                                Negar
                                          </button> 
                                    </ion-col>
                              </ion-row>
                        </ion-grid>
                  </ion-item>
            </ion-list>
      </div>

      <div>
            <ion-item-divider color="color3">Membros ({{qtdMembros}})</ion-item-divider>
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
            <ion-list class="commentList">
                  <ion-item  *ngFor="let membro of items" [class.membro-desativado]="membro.ativo==='N'" (click)="mostraDetalhes(membro)">
                        <ion-row>
                              <ion-col col-2>
                                    <ion-avatar  item-left>
                                          <img src="http://res.cloudinary.com/nogcloud/image/upload/v{{membro.versaoImagem}}/{{membro.idImagem}}.jpg">
                                    </ion-avatar>
                              </ion-col>
                              <ion-col>
                                    <h4>{{membro.nome}}</h4>
                              </ion-col>
                              <ion-col><p class="p-desativado" *ngIf="membro.ativo==='N'">DESATIVADO</p></ion-col>
                        </ion-row>
                  </ion-item>
            </ion-list>
            
      </div>

</ion-content>
