<!--
  Generated template for the AdminDepartamentosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

      <ion-navbar>
            <ion-title>Departamentos - {{nomeIgreja}}</ion-title>
      </ion-navbar>

</ion-header>


<ion-content padding>

      <ion-fab top right edge>
            <button ion-fab mini (click)="paraConfiguracaoDepartamento('adicionar')">
                  <ion-icon name="add"></ion-icon>
            </button>
      </ion-fab>

      <ion-list *ngIf="departamentos">
            <ion-item *ngFor="let departamento of departamentos">
                  <ion-thumbnail item-start>
                        <img src="http://res.cloudinary.com/nogcloud/image/upload/v{{departamento.versaoLogo}}/{{departamento.idLogo}}">
                  </ion-thumbnail>
                  <h2>{{departamento.nome}}</h2>
                  <p>{{departamento.diretor.nome}}</p>
                  <button ion-button icon-only item-end (click)="paraConfiguracaoDepartamento('configurar', departamento)">
                        <ion-icon name="ios-settings"></ion-icon>
                  </button>
                  <button ion-button icon-only item-end (click)="removeDepartamento(departamento)">
                        <ion-icon name="ios-trash"></ion-icon>
                  </button>
                        
            </ion-item>
      </ion-list>

      <p *ngIf="!departamentos || departamentos.length==0">Ainda não há nenhum departamento nessa igreja.</p>

</ion-content>
