page-registrarfoto {
      .iconBtn {
            background-color: transparent !important;
            z-index:4;
      }


      .titulo{
            font-size: 150% !important;
            margin: 75px !important;
            margin-top: 20px !important;
      }

      .content-ios{
            text-align:center;
            .imgBg{
                width:250px;
                height:250px;
                border-radius:50%;
                margin:auto;
                margin-bottom: 25px;
                position:relative;
                .button-left{
                        //@include position(auto,0px,0px,auto);
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        font-size:4rem;
                        width: 30% !important;
                        height: 30% !important;
                        color:color($colors,color2);
                        background:color($colors,color1);
                        @include borderRadius(30px);
                }
                .button-right{
                        //@include position(auto,0px,0px,auto);
                        position: absolute;
                        right:0;
                        bottom: 0;
                        width: 30% !important;
                        height: 30% !important;
                        font-size:7rem;
                        color:color($colors,color2);
                        background:color($colors,color1);
                        @include borderRadius(30px);
              }
            }
            p{
                font-size:$mainFont!important;
                margin: 0px;
                @include whiteNormal(16px,1);
                margin:5px 0px;
                &.name{
                    font-weight:500;
                    margin-bottom:0px;
                }
            }
            .profileInfo{
                .button-ios{
                    height: 30px;
                    width: 100px;
                    margin: 0px;
                }
                .appForm{
                    padding:$mainMarg/2 0px;
                }
            }
            .setting{
                text-align:left;
                p{
                    @extend .name;
                }
    
            }
        }
    }
    
    .item-checkbox{
        direction: rtl;
        margin:0px!important;
        padding:$mainMarg/2 0px!important;
        .checkbox-ios{
            margin:0px!important;
        }
        .label-ios{
            direction:ltr;
            font-size:$mainFont - .1;
            @include whiteNormal(32px,2);
            padding:0px $mainMarg*2;
        }
        .checkbox-checked{
            .checkbox-inner{
                width:$checkbox-ios-icon-size - 6px;
                height:$checkbox-ios-icon-size - 6px;
                border:none!important;
                background-color: color($colors,color1);
                transform:none;
                left:0px;
                right:0px;
                top:0px;
                bottom:0px;
                margin:auto;
            }
        }
}


.sign{
      background-image:url(../assets/img/back.png);
      @extend .imgBg;
      text-align:center;
      .scroll-content{
          padding:$mainMarg!important;
      }
      img{
          max-width:200px;
          width:50%;
          margin:40px 0px;
          }
      h4{
          color: color($colors,light);
          margin:0px 0px $mainMarg*2; 
          span{
              color:color($colors,color1);
          }
      }
      p{
          color:color($colors,light);
          @include whiteNormal(20px,1);
          font-weight:500;
          margin:$mainMarg 0px;
      }
  }

  .grid{
      &.twoBtns{
          padding:0px;
          margin:$mainMarg*2  0px;
          .col{
              padding:0px;
              &:first-of-type{
                  .button-ios{
                      border-top-right-radius:0px;
                      border-bottom-right-radius:0px;
                  }
              }
              &:last-of-type{
                  .button-ios{
                      border-top-left-radius:0px;
                      border-bottom-left-radius:0px;
                  }
              }
          }
      }
  }