<!--
  Generated template for the DepartamentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Departamento - {{nomeDepartamento}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="irParaNotificacoes()">
        <ion-icon name="ios-notifications-outline"></ion-icon>
        <ion-badge color="color1" *ngIf="numeroNotificacoes > 0">{{numeroNotificacoes}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

      <!-- Botão de adicionar evento -->
      <button *ngIf="eDiretoria()" ion-button block (click)="paginaCriarEvento()">Criar Evento</button>

      <ion-fab right bottom *ngIf="idDiretor===idUsuario">
            <button ion-fab color="primary" (click)="configurarDepartamento()">
                  <ion-icon name="settings"></ion-icon>
            </button>
      </ion-fab>
</ion-content>
