page-lista-bancaria {
      .list {
            margin-bottom: 10px;
      }
      .grid {
            width: 50%;
      }
      .col-remover{
            vertical-align: bottom;
      }
      .btn-remover {
            font-size: 8pt;
            border-radius: 0;
      }
}
