

<ion-content class="sign" >
      <img src="assets/img/logo.png"/>
      <h4>
            Cadastro
      </h4>
      <div class="appForm">
      <ion-list>
            <ion-item>
            <ion-icon name="md-person" item-left></ion-icon>
            <ion-input type="text" [(ngModel)]="nome" placeholder="Nome"></ion-input>
            </ion-item>
            <ion-item>
            <ion-icon name="ios-mail" item-left></ion-icon>
            <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
            <ion-label>Igreja</ion-label>
            <ion-icon name="ios-pin" item-left></ion-icon>
            <ion-select *ngIf="igrejas" placeholder="Selecione sua igreja" [(ngModel)]="igreja" >
                  <ion-option *ngFor="let igreja of igrejas" [value]="igreja.nome" >
                        {{igreja.nome}}</ion-option>
            </ion-select>

            </ion-item>
            <ion-item>
                  <ion-icon name="md-lock" item-left></ion-icon>
                  <ion-input [type]="passwordType" [(ngModel)]="senha" placeholder="Senha"></ion-input>
                  <button item-end class="iconBtn" (click)='showHidePassword()'>
                        <ion-icon [name]="passwordIcon"></ion-icon>
                  </button>
            </ion-item>
            <ion-item>
                  <ion-icon name="md-lock" item-left></ion-icon>
                  <ion-input [type]="confirmPasswordType" [(ngModel)]="confirmaSenha" placeholder="Confirmar Senha"></ion-input>
                  <button item-end class="iconBtn" (click)='showHideConfirmPassword()'>
                        <ion-icon [name]="confirmPasswordIcon"></ion-icon>
                  </button>
            </ion-item>      
      </ion-list>
            <ion-grid class="twoBtns">
                  <ion-row>
                        <ion-col col-6>
                              <button ion-button block color="color2"  (click)="goTo('SignIn')">Login</button>
                        </ion-col>
                        <ion-col col-6>
                              <button ion-button block color="color1" (click)="continuar()">Continuar</button>
                        </ion-col>
                  </ion-row>
            </ion-grid>
      </div>
</ion-content>