
<ion-menu [content]="content">
            <ion-header>
                  <ion-toolbar>
                        <ion-item>
                              <ion-avatar item-left *ngIf="!eAdministrador">
                                          <img src="http://res.cloudinary.com/nogcloud/image/upload/v{{versaoImagem}}/{{idImagem}}">
                              </ion-avatar>
                              <h4 *ngIf="eAdministrador">ADMINISTRADOR</h4>
                              <h4>{{nome}}</h4>
                        </ion-item>
                  </ion-toolbar>
            </ion-header>
            <ion-content>
            <ion-list *ngIf="pages">
                  <ion-item menuClose  *ngFor="let p of pages" (click)="openPage(p)">
                  <ion-icon *ngIf="p.component!=='DepartamentoPage'" name="{{p.icon}}" item-left></ion-icon>
                  <ion-avatar *ngIf="p.component==='DepartamentoPage'" item-start>
                        <img src="{{p.icon}}">
                  </ion-avatar>
                  {{p.title}}
                  <ion-badge color="color1" item-right *ngIf="p.component=='Notification' && numeroNotificacoes>0">{{numeroNotificacoes}}</ion-badge>
                  </ion-item>
            </ion-list>
            </ion-content>
            <ion-footer>
            <button ion-button block menuClose color="color1" (click)="sair()">
                  <ion-icon name="ios-power" color="danger"></ion-icon>
                  Sair
            </button>
            </ion-footer>
      </ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" [class.animateApp]="animateVarible==true"></ion-nav>